.pycto {
  display: flex;
  margin-bottom: 1.5em;
  opacity: 90%;
}

.blind {
  flex: 0.05 0.05 auto;
  background-color: #2b252c;
  text-align: center;
  color: white;
  border-radius: 15px;
  margin-right: 1em;
}

.pmr {
  flex: 0.05 0.05 auto;
  background-color: #2b252c;
  text-align: center;
  color: white;
  border-radius: 15px;
  margin-right: 1em;
}

.deaf {
  flex: 0.05 0.05 auto;
  background-color: #2b252c;
  text-align: center;
  color: white;
  border-radius: 15px;
}