<!DOCTYPE HTML>

<html>
	<head>
		<title>Que faire à Paris</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a id="logo">Que faire à Paris ?</a></h1>
								<hr />
								<p>Le répertoire des activités d'Île-de-France</p>
							</header>
							<footer>
								<a href="#banner" class="button circled scrolly">QFAP ?!</a>
							</footer>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Accueil</a></li>
								<li>
									<a href="/search">Par activité</a>
									<ul>
										{% for (main_category, sub_category) in db.get_all_categories().items() -%}
										<li>
											<a href="#">{{ main_category }} &hellip;</a>
											<ul>
												{% for cat in sub_category -%}
												<li><a href="#">{{ cat }}</a></li>
												{% endfor %}
											</ul>
										</li>
										{% endfor %}
									</ul>
								</li>
								<li><a href="/search">Chercher un événement</a></li>
							</ul>
						</nav>

                </div>
                
        </div>
    </body>
</html>