<!DOCTYPE HTML>

<html>
	<head>
		<title>Que faire à Paris</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<link rel="shortcut icon" href="/static/favicon.ico">
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
            {% if request.endpoint == "home" %}
				<div id="header">
            {% else %}
                <div id="header" style="height: 0px; padding: 2.5em 0 2em 0; min-height: 0cm">
            {% endif %}

					<!-- Nav -->
                    {% block nav %}
						<nav id="nav">
							<ul>
								<li><a href="/">Accueil</a></li>
								<li>
									<a href="/search">Par activité</a>
									<ul>
										{% for (main_category, sub_category) in db.cache.get_all_categories().items() -%}
										<li>
											<a href="#">{{ main_category }} &hellip;</a>
											<ul>
												{% for cat in sub_category -%}
												<li><a href="#">{{ cat }}</a></li>
												{% endfor %}
											</ul>
										</li>
										{% endfor %}
									</ul>
								</li>
								<li><a href="/search">Chercher un événement</a></li>
							</ul>
						</nav>
                    {% endblock %}
                    <!-- Inner -->
                    {% block banner %}
                        {% if request.endpoint == "home" %}
                            <div class="inner">
                                <header>
                                    <h1><a id="logo">Que faire à Paris ?</a></h1>
                                    <hr />
                                    <p>Le répertoire des activités d'Île-de-France</p>
                                </header>
                                <footer>
                                    <a href="#banner" class="button circled scrolly">QFAP ?!</a>
                                </footer>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
                
        </div>
    </body>
    {% block body %}
    {% endblock %}
</html>