<!DOCTYPE HTML>

<html>
	{% include "base.html" %}
	<script>
      // Initialize and add the map
      function initMap() {
        // The location of place
        const place = { lat: {{event.lat_lon[0] }}, lng: {{event.lat_lon[1] }} };
        // The map, centered at place
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 17,
          center: place,
        });
        // The marker, positioned at place
        const marker = new google.maps.Marker({
          position: place,
		  gestureHandling: "none",
          map: map,
        });
      }
    </script> 
	<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2QOuSnXRtD91JMxnQx7WdelgH8tVRVtk&callback=initMap&libraries=&v=weekly"
      defer
    ></script>

	<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/assets/css/event.css') }}">
  	</head>

	<body>
			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<article id="main" class="special">
							<header>
								<h2>{{ event.title }}</h2>
								<p>
									{{ event.lead_text }}
								</p>
							</header>
							<img src="{{ event.cover_url }}" alt="{{ event.cover_alt }}" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%;" />

							<div class="infos">
								<div class="pycto">

								<!-- Création des div de pyctogramme si la valeur est 0 dans la base -->

											{% if event.blind == 1 %}
												<div class="blind">
												<i class="fas fa-eye-slash"></i>
												</div>
											{% endif %}

											{% if event.pmr == 1 %}
												<div class="pmr">
													<i class="fab fa-accessible-icon"></i>
												</div>
											{% endif %}

											{% if event.deaf == 1 %}
												<div class="deaf">
													<i class="fas fa-deaf"></i>
												</div>
											{% endif %}
								</div>
							</div>

							<p>
								<!--safe, escape the HTML string -->
								{{ event.description|safe }}
							</p>
							<!-- map -->

							<div class="communication">
									{% if event.contact_phone != "" %}
										<div class="phone">
											<i class="fas fa-phone"></i>
											{{ event.contact_phone }}
										</div>
									{% endif %}

									{% if event.contact_mail != "" %}
										<div class="mail">
											<i class="far fa-envelope"></i>
											{{ event.contact_mail }}
										</div>
									{% endif %}
							</div>

							<div>
								<h1>Quand ?</h1>
								{{ event.date_description|safe }}
								<h1>Où ?</h1>
								<p>
									Transports les plus proches:<br/>
									{{ event.transport }}
								</p>
								<h1>Tags</h1>
								<p>
									{% for element in event.get_tags() -%}
									<div>
									{{ element }}
									</div>
									{% endfor %}
								</p>
								{% if event.lat_lon %}
								<div id="map" style="height: 400px;width: 50%;margin: 0.3cm 0"></div>
								{% endif %}
							</div>

						</article>
						<hr />
						<header><h2>Événements similaires</h2></header>
						<br />
						<div class="row">
                            {% for e in db.get_random_coming_events_by_category(3, event.category, event.id) -%}
							<article class="col-4 col-12-mobile special">
								<a class="image centered" href="/event/{{ e.id }}">
									<img class="image centered" src="{{ e.cover_url }}" alt="{{ e.cover_url }}" width="350px" height="350px" style="max-height: 75%; max-width: 90%;" />
								</a>
								<header>
									<h3><a href="/event/{{ e.id }}">{{ e.title }}</a></h3>
								</header>
								<p>
									{{ e.lead_text }}
								</p>
							</article>
                            {% endfor %}
						</div>
					</div>

				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>Communauté</h3>
										</header>
										<p>Ce site web est proposé en open-source, vous pouvez récupérer son code sur GitHub:</p>
										<ul class="icons">
											<li><a href="https://github.com/Phaide/Que-faire-a-Paris" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; QFAP. Tous droits réservés.</li><li>Design par <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.dropotron.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>