<!DOCTYPE HTML>

<html>
    {% include "base.html" %}

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-mobile" id="sidebar">
								<hr class="first" />
                                <!--
								<section>
									<header>
										<h3><a href="#">Accumsan sed penatibus</a></h3>
									</header>
									<p>
										Dolor sed fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
										porttitor phasellus tempus cubilia ultrices tempor sagittis  tellus ante diam nec penatibus dolor cras
										magna tempus feugiat veroeros.
									</p>
									<footer>
										<a href="#" class="button">Learn More</a>
									</footer>
								</section>
								<hr />
								-->
								<div>
									<header>
										<h3>Critères de recherche</h3>
									</header>
									<p>
										Utilisez les paramètres ci-dessous pour définir des filtres, puis appliquez-les avec le bouton plus bas.
									</p>
									<form method="get" action="/search">
										<label for="search">Rechercher dans le titre ou la description:</label>
										<input type="text" id="search" name="search" />
										<label for="category">Catégorie</label>
										<select id="category" name="category">
											<option></option>
											{% for main_category, v in db.cache.get_all_categories().items() -%}
												{% for sub_category in v -%}
													{% set category = main_category + ' -> ' + sub_category %}
													<option value="{{ category }}">{{ category }}</option>
												{% endfor %}
											{% endfor %}
										</select>
										<label for="future">Événements à venir uniquement</label>
										<input type="checkbox" id="future" name="future" value="1" />
										<h3>Prix</h3>
										<label for="price_type">Payant</label>
										<input type="checkbox" id="price_type" name="price_type" value="1" checked="1" />
										<h3>Support pour les handicaps</h3>
										<label for="pmr">Personnes à mobilité réduite</label>
										<input type="checkbox" id="pmr" name="pmr" value="1" />
										<label for="blind">Malvoyants</label>
										<input type="checkbox" id="blind" name="blind" value="1" />
										<label for="deaf">Malentendants</label>
										<input type="checkbox" id="deaf" name="deaf" value="1" />
										<input type="reset" />
                                        <input type="submit" />
									</form>
								</div>
							</div>
							<div class="col-8 col-12-mobile imp-mobile" id="content">
								<section>
									<header>
										<h3>Résultats de la recherche</h3>
									</header>
                                    {% for event in db.search(db.create_filter_from_args(request.args), limit=15) -%}
									<div class="row gtr-50">
										<div class="col-4">
											<a href="/event/{{ event.id }}" class="image fit"><img src="{{ event.cover_url }}" alt="{{ event.cover_alt }}" /></a>
										</div>
										<div class="col-8">
											<h4><a href="/event/{{ event.id }}">{{ event.title }}</a></h4>
											<p>
                                                {{ event.lead_text }}
											</p>
										</div>
									</div>
                                    {% endfor %}
								</section>
							</div>
						</div>
					</div>

				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>Communauté</h3>
										</header>
										<p>Ce site web est proposé en open-source, vous pouvez récupérer son code sur GitHub:</p>
										<ul class="icons">
											<li><a href="https://github.com/Phaide/Que-faire-a-Paris" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; QFAP. Tous droits réservés.</li><li>Design par <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.dropotron.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>